.body{
	background: #FFC238;
}

.welcome-Text{
	position: fixed;
	left: 0;
	top: 0;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 500%);
	font-weight: bold;
	font: 400% Segoe UI;
}

.preloader{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #FEC038;
	z-index: 2;
	transition:  1s all;
	opacity: 1;
	visibility: visible;
}

.preloader .loader {
	width: 125px;
	height: 125px;
	border: 10px solid white;
	border-radius: 50%;
	border-top-color: #373D42;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	animation: 2s spin infinite linear;
}

.imgload{
	width: 125px;
	height: 125px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-20%, -20%);
}

.done{
	opacity: 0;
	visibility: hidden;
}



@keyframes spin{
	from{
		transform: translate(-50%,-50%) rotate(0deg);
	}
	to{
		transform: translate(-50%,-50%) rotate(360deg);
	}
}